Validate your Email
\
We are honored that you want to create an account with us!
To make things official, please follow the link below
to validate your account. Once you've finished that, you
can start posting jobs to the site!
\
Follow the link below to validate your email:
\
= validation_url(@token)
\
See ya soon!  