%center
  %h1 Validate your Email
%p
  We are honored that you want to create an account with us!
  To make things official, please follow the link below
  to validate your account. Once you've finished that, you
  can start posting jobs to the site!
%p
  = link_to "Validate Your Account", validation_url(@token)
%p
  See ya soon!
  