Right on!
\
Thanks a bunch for signing up to get job alerts from Remotely Awesome
Jobs! Before we get started, we'd like to make sure this is a legit
email address and confirm that we're really invited to your Inbox
(we're honored!).
\
Follow the link below to confirm your address:
\
= email_address_validate_url(@email_address.validation_token)
\
See ya soon!  