Your job post has expired
\
We're just writing to let you know that your
job post for "#{@job.title}" has expired, and
it is no longer featured on our site.
\
If you want to re-post it, then sign into
your account.
\
Cheers,
Mike at Remotely Awesome Jobs