Your job post will expire tomorrow
\
Hey there - heads up! We wanted to let you know that your
job post for "#{@job.title}" is
scheduled to expire tomorrow. That means it will no longer
be featured on our site.
\
If you want to re-post it, then sign into your account
before it disappears.
\
Cheers,
Mike at Remotely Awesome Jobs