- if @jobs.empty? && @today.empty?
  .text-center
    .sad
      = fa_icon 'frown-o'
    %p There&rsquo;s nothing here.
- else
  - if params[:page].blank? || params[:page] == 1
    - if @featured.present?
      %h4 Featured
      %ul.featured
        - @featured.each do |featured|
          %li= render partial: 'summary', locals: { job: featured }
    - if @today.present?
      %h4 Today
      %ul
        - @today.each do |today|
          %li= render partial: 'summary', locals: { job: today }
    - if @jobs.present?
      %h4 Earlier 
  %ul
    - @jobs.each do |job|
      %li= render partial: 'summary', locals: { job: job }
