%p Why post a job on Remotely Awesome Jobs?
%ul
  %li
    Job postings are <b>totally free</b> during our beta period, no credit card required!
  %li
    Jobs posted directly on Remotely Awesome Jobs get featured prominently at the top
    of all relevant search results.
  %li
    Lots of developers already signed up for our e-mail alerts will also see your
    job in the "featured" section of the message whenever they get alerts.
  %li
    Did we mention the free part?
