
.container
  .row
    .col-md-9.col-sm-3.col-xs-12
      -# %table.table.table-responsive
      -#   %thead
      -#     %tr
      -#       %th Company
      -#       %th Title
      -#       %th Company HQ
      -#       %th Posted On
      -#       %th via
      -#   %tbody
      -#     - @jobs.each do |job|
      -#       %tr
      -#         %td.company= job.company
      -#         %td= link_to job.title, job_path(job)
      -#         %td= job.location
      -#         %td= job.posted
      -#         %td= job.source
      %ul
        - @jobs.each do |job|
          %li
            %div.job
              %h2= link_to job.title, job_path(job)
              %h3= job.company
      = paginate(@jobs)

:javascript
  $(document).ready(function () {
    $('[data-toggle="offcanvas"]').click(function () {
      $('.row-offcanvas').toggleClass('active')
    });
  });
