.navigation
  %nav.navbar.navbar-fixed-top.navbar-inverse
    = render partial: 'shared/top_nav'
.container
  .row
    .col-md-10.col-sm-10.col-xs-12
      .panel
        #content
          %h1 Coming soon
          %p.coming-soon
            Today we're focused on scouring the web to find the best
            sources of remote technology jobs on the internet. Soon
            you will be able to post your awesome job right here on
            our site, too! Until then, let us know who you are and
            tell us what you need &mdash; that way we can build a
            jobs site that's perfect for you. We'll let you know when
            we're ready!
          %fieldset
            %legend Tell us your needs
            