-# For big screens
-# Sidebar
%nav.navmenu.navmenu-inverse.navmenu-fixed-left.offcanvas-xs
  = render partial: 'shared/side_nav'

-# For small screens
-# Header
%nav.navbar.navbar-fixed-top.navbar-inverse.visible-xs
  = render partial: 'shared/top_nav'
-# Sidebar
%nav.navmenu.navmenu-inverse.navmenu-fixed-left.offcanvas#navmenu
  = render partial: 'shared/side_nav'
