%button.navbar-toggle{type: "button", data: {toggle: "collapse", target: "#navmenu"}}
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
.navbar-header
  = link_to root_path, class: "navbar-brand" do
    = image_tag 'remotely-awesome-logo-white-horizontal.png', class: 'horizontal-logo'
