.container
  .row
    .col-md-10.col-sm-9.col-xs-12
      .heading
        %h3 Howdy!
        %h2 <b>Remotely Awesome Jobs</b>   curates the best remote tech jobs across the web.
      .panel
        .job-list


:coffeescript
  $ ->
    $('[data-toggle="offcanvas"]').click ()->
      $('.row-offcanvas').toggleClass('active')
    $('[data-toggle="tooltip"]').tooltip();
    jobs = new RemoteWork.Jobs("#{jobs_path}", "#{categories_path}")
    jobs.initialize()
