@import "colors";
@import "fonts";

body.alerts {
  color: $charcoal;
  padding: 75px 0;
  h1 {
    font-family: $radley;
    font-size: 28px;
    margin: 20px;
  }
  .panel {
    margin: 10px;
    .panel-body {
      padding: 20px;
    }
    h2 {
      font-size: 20px;
      margin-top: 10px;
    }
    p {
      font-size: 16px;
    }
    .panel-body { 
      form {
        margin-top: 20px;
      }
      input[type=text], select {
        color: $charcoal;
      }
      button {
        margin: 30p;
        width: 100%;
      }
    }
  }
  .envelope {      
    font-size: 96px;
    color: $aqua;
  }             
}
