/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Radley:400,400italic);

@import "colors";
@import "bootstrap-customization";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "vendor/bootstrap-typeahead";
@import "jasny-bootstrap.min";

.navmenu {
  width: 200px;
}

body {
  background-color: $beige;
  font-family: $lato;
}

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  a {
    color: $link-color;
  }
}

.navigation {
  img.logo {
    margin-left: -8px;
    text-align: center;
    width: 185px;
  }
  img.horizontal-logo {
    height: 40px;
    margin-top: -9px;
    text-align: center;
  }
  .buttons {
    a {
      margin-bottom: 10px;
      width: 150px;
      i {
        margin-right: 5px;
      }
    }
    .btn-twitter {
      background-color: #4099FF;
    }
  }
  .ceres {
    @media(max-height: 675px) {
      display: none;
    }
    color: #777;
    font-size: 8px;
    letter-spacing: 5px;
    margin-top: 80px;
    position: absolute;
    bottom: 25px;
    text-transform: uppercase;
    width: 200px;
    img.ceres-logo {
      margin-right: 15px;
      margin-top: 5px;
      width: 80px;
    }
  }
}

.label-tag {
  margin-right: 2px;
  a {
    color: $white
  }
  &.label-language-tag {
    background-color: $orange;
  }
  &.label-library-tag {
    background-color: $charcoal;
  }
  &.label-tool-tag {
    background-color: $ash;
  }
  &.label-skill-tag {
    background-color: $aqua;
  }
  &.label-category-tag {
    border: 1px solid $charcoal;
    color: $charcoal;
    a {
      color: $charcoal;
    }
  }
}

.navmenu.navmenu-inverse {
  background-color: $navmenu-inverse-bg;
  border-color: $navmenu-inverse-border;
  color: $navmenu-inverse-color;
  a {
    color: $navmenu-inverse-link-color;
    &:hover {
      background-color: $navmenu-inverse-link-hover-bg;
      color: $navmenu-inverse-link-hover-color;
    }
    &:active {
      background-color: $navmenu-inverse-link-active-color;
      color: $navmenu-inverse-link-active-bg;
    }
    &:disabled {
      background-color: $navmenu-inverse-link-disabled-bg;
      color: $navmenu-inverse-link-disabled-color;
    }
    .brand {
      color: $navmenu-inverse-brand-color;
      &:hover {
        background-color: $navmenu-inverse-brand-hover-bg;
        color: $navmenu-inverse-brand-hover-color;
      }
    }
    .toggle {
      border-color: $navmenu-inverse-toggle-border-color;
      &:hover {
        background-color: $navmenu-inverse-toggle-hover-bg;
      }
      .icon-bar {
        background-color: $navmenu-inverse-toggle-icon-bar-bg
      }
    }
  }
  li {
    margin-bottom: 10px;
  }
}

.search-filter {
  color: $charcoal;
  margin-bottom: 5px;
  input[type=text] {
    color: $charcoal;
  }
  a {
    color: $charcoal;
  }
  a:hover {
    text-decoration: none;
  }
}

.filter-label {
  color: $charcoal;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.tags {
  .no-break {
    display: inline-block;
  }
}

.tag-filter {
  font-size: 16px;
  margin-bottom: 8px;
  i {
    margin-left: 3px;
  }
  .label-tag {
    a:hover {
      text-decoration: none;
    }
  }
  a#add-tag {
    color: $aqua;
    font-size: 13px;
  }
  form {
    display: inline;
  }
  input {
    color: $charcoal;
    font-size: 11px;
    height: 27px;
  }
}
