@import "colors";
@import "fonts";

body.email_addresses {
  color: $charcoal;
  padding-top: 75px;
  h1 {
    font-family: $radley;
    font-size: 28px;
  }
  #content {
    padding: 20px;
  }
  .panel {
    margin-bottom: 0;
    .panel-body {
      padding: 20px;
    }
    .envelope {
      font-size: 96px;
      color: $aqua;
    }             
    h2 {
      font-size: 20px;
      margin-top: 10px;
    }
    p {
      font-size: 16px;
    }
    form {
      margin-top: 20px;
    }
    input[type=text], select {
      color: $charcoal;
    }
    button {
      margin: 30p;
      width: 100%;
    }
    table {
      td, th {
        text-align: left;
        &.actions {
          text-align: right;
        }
      }
    }
  }
  .filter-label {
    color: $charcoal;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
