// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}


@media (min-width: 992px) {
  body {
    padding-left: 300px;
  }
  .navbar-fixed-top {
    .container {
      max-width: 600px;
    }
  }
}
