// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * Style tweaks
 * --------------------------------------------------
 */
@import "colors";
@import "fonts";

@media (min-width: 768px) {
  body.job-listings {
    padding-left: 200px;
  }
}
@media (max-width: 767px) {
  body.job-listings {
    padding-top: 60px;
  }
}

body.job-listings {
  background-color: $beige;
  .heading {
    color: $charcoal;
    padding: 15px 0 5px;
    h2 {
      font-family: $radley;
      font-size: 16px;
      margin-top: 5px;
    }
    h3 {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 3px;
      margin-top: 0;      
    }
  }
  .sad {
    font-size: 64px;
  }
  .source {
    color: $beige;
    font-size: 14px;
    font-style: italic;
  }
  .panel {
    border-radius: 5px;
    margin-top: 0;
    .panel-body {
      padding: 10px 20px;
    }
  }
  ul {
    list-style-type: none;
    margin-bottom: 15px;
    padding-left: 0;
    li {
      margin-bottom: 25px;
      h2 {
        font-family: $radley;
        font-size: 18px;
        margin: 5px 0;
      }
      h3 {
        color: $charcoal;
        font-size: 14px;
        margin: -5px 0 0;
      }
      p.when-posted {
        margin: -5px 0 0;
      }
      .category {
        a {
          color: $beige;
          line-height: 32px;
        }
      }
    }
  }
  .filter-label {
    color: $charcoal;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

body.jobs.show, body.jobs.new {
  background-color: $beige;
  color: $charcoal;
  padding: 75px 0;
  .panel {
    margin-bottom: 5px;
    padding: 0 20px 40px;
    h1 {
      font-family: $radley;
    }
    h2 {
      color: $ash;
      font-family: $radley;
      font-size: 24px;
      line-height: 14px;
    }
    h1.job-title {
      font-size: 28px;
      margin-bottom: 5px;
    }
    h2.job-company {
      margin-top: 5px;
    }
    .job-heading {
      border-bottom:1px solid $beige;
      margin-bottom: 15px;
      padding-bottom: 5px;
    }
    .job-description {
      font-size: 16px;
      line-height: 24px;
      h2 {
        margin-left: -5px;
      }
    }
    .apply {
      margin-top: 40px;
    }
  }
  p.coming-soon {
    font-size: 18px;
  }
};
