// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * Style tweaks
 * --------------------------------------------------
 */
@import "colors";
@import "fonts";
@import "admin/jobs";

@media (min-width: 768px) {
  body.job-listings {
    padding-left: 200px;
  }
}
@media (max-width: 767px) {
  body.job-listings {
    padding-top: 60px;
  }
}

legend {
  border-width: 0;
}

body.job-listings {
  h4 {
    color: $charcoal;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 15px;
    text-transform: uppercase;
  }
  .heading {
    color: $charcoal;
    padding: 15px 0 5px;
    h2 {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 3px;
      margin-top: 0;      
    }
    h3 {
      font-family: $lato;
      font-size: 16px;
      margin-top: 5px;        
    }
  }
  .sad {
    font-size: 64px;
  }
  .source {
    color: $beige;
    font-size: 14px;
    font-style: italic;
  }
  .panel {
    border-radius: 5px;
    margin-top: 0;
    .panel-body {
      padding: 10px 20px;
    }
  }
  ul {
    list-style-type: none;
    margin-bottom: 15px;
    padding-left: 0;
    &.featured {
      border-left: 3px solid #888;
      margin-left: -6px;
      padding-left: 6px;
    }
    li {
      margin-bottom: 25px;
      h2 {
        font-family: $radley;
        font-size: 18px;
        margin: 5px 0;
      }
      h3 {
        color: $charcoal;
        font-size: 14px;
        margin: -5px 0 0;
      }
      p.when-posted {
        margin: -5px 0 0;
      }
      .category {
        a {
          color: $beige;
          line-height: 32px;
        }
      }
    }
  }
  .popular {
    margin: 5px 0;
    i {
      margin-right: 5px;
    }
  }
  .filter-label {
    color: $charcoal;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

body.jobs.show, body.jobs.new, body.jobs.create, body.jobs.edit, body.jobs.preview {
  color: $charcoal;
  padding: 75px 0;
  .panel.panel-main {
    margin-bottom: 5px;
    padding: 0 20px 40px;
    h1 {
      font-family: $radley;
    }
    h2 {
      color: $ash;
      font-family: $radley;
      font-size: 20px;
      line-height: 18px;
    }
    h1.job-title {
      font-size: 26px;
      margin-bottom: 5px;
    }
    h2.job-company {
      margin-top: 5px;
    }
    h3.company-description, h3.how-to-apply {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .preview-header {
      background-color: $beige;
      letter-spacing: 4px;
      line-height: 20px;
      margin: 10px 0;
      padding: 8px;
      text-transform: uppercase;
    }
    .job-heading {
      border-bottom:1px solid $beige;
      margin-bottom: 15px;
      padding-bottom: 5px;
    }
    .job-description {
      font-size: 16px;
      line-height: 24px;
    }
    .apply {
      margin-top: 40px;
    }
  }
  p, li {
    font-size: 16px;
  }
  input[type=text],input[type=password],select {
    color: $charcoal;
  }
  form {
    margin-top: 20px;
  }
  input[type=submit].preview {
    margin-top: 35px;
  }
  hr {
    border-bottom:1px solid $beige;
    margin: 0;
  }
  .sidebar {
    margin-top: 20px;
    .buttons {
      padding: 20px;
      .button {
        margin: 5px 0;
        a {
          width: 215px;
          i {
            margin-right: 4px;
          }
        }
      }
      .link {
          margin-top: 20px;
      }
    }
    .similar {
      h4 {
        color: $charcoal;
        font-size: 14px;
        letter-spacing: 2px;
        margin-top: 15px;
        text-transform: uppercase;
      }
      .job-mini-summary {
        margin-bottom: 10px;
        .job-company {
          color: $ash;
          font-style: italic;  
        }
      }
    }  
  }
};
