// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * Style tweaks
 * --------------------------------------------------
 */
@import "colors";
@import "fonts";

@media (min-width: 768px) {
  body {
    padding-left: 200px;
  }
}
@media (max-width: 767px) {
  body {
    padding-top: 60px;
  }
}

legend {
  border-width: 0;
}

body.password_resets {
  color: $charcoal;
  padding: 75px 0;
  .panel.panel-main {
    margin-bottom: 5px;
    padding: 0 20px 40px;
    h1 {
      font-family: $radley;
    }
    h2 {
      color: $ash;
      font-family: $radley;
      font-size: 24px;
      line-height: 20px;
    }
    input[type=text],input[type=password] {
      color: $charcoal;
    }
  }
};
